In [1]:
import os
import pandas as pd
import numpy as np

## Join Zip and MSA Data

### Load Zip data into DataFrame

In [27]:
filename = '../../data/external/zip_data.tab'
df = pd.read_csv(filename, sep='\t', lineterminator='\n')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824770 entries, 0 to 824769
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   zipcode  824770 non-null  int64
 1   year     824770 non-null  int64
 2   state    824770 non-null  object
 3   EQI      824770 non-null  float64
 4   SFR      824770 non-null  int64
 5   growth   824770 non-null  int64
 6   RECPI    824770 non-null  float64
 7   REAI     703845 non-null  float64
dtypes: float64(3), int64(4), object(1)
memory usage: 50.3+ MB

##### Sort zip data by year and zipcode

In [23]:
df = df.sort_values(['year', 'zipcode'])
df.head()

   zipcode  year state       EQI  SFR  growth     RECPI  REAI
0     1001  1988    MA  0.000815   48       0  0.039108   0.0
1     1002  1988    MA  0.001764   35       0  0.061751   0.0
2     1005  1988    MA  0.000752    8       0  0.006015   0.0
3     1007  1988    MA  0.000776   18       0  0.013976   0.0
4     1008  1988    MA  0.001864    1       0  0.001864   0.0

##### Reindex zip data by zipcode and year

In [24]:
df = df.set_index(['zipcode', 'year'])
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 824770 entries, (1001, 1988) to (99929, 2016)
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   state   824770 non-null  object
 1   EQI     824770 non-null  float64
 2   SFR     824770 non-null  int64
 3   growth  824770 non-null  int64
 4   RECPI   824770 non-null  float64
 5   REAI    703845 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 42.0+ MB

### Load MSA data into DataFrame

In [25]:
filename = '../../data/interim/msa-data-with-zipcode.csv'
msa = pd.read_csv(filename)
msa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688481 entries, 0 to 688480
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   zipcode  688481 non-null  int64
 1   CBSA     688481 non-null  int64
 2   MSA      688481 non-null  object
 3   state    688481 non-null  object
 4   year     688481 non-null  int64
 5   growth   688481 non-null  int64
 6   SFR      688481 non-null  int64
 7   EQI      688481 non-null  float64
 8   RECPI    688481 non-null  float64
 9   REAI     595961 non-null  float64
dtypes: float64(3), int64(5), object(2)
memory usage: 52.5+ MB

##### Sort MSA data by year and zipcode

In [26]:
msa = msa.sort_values(['year', 'zipcode'])
msa.head()

,zipcode,CBSA,MSA,state,year,growth,SFR,EQI,RECPI,REAI
0,1001,44140,"Springfield, MA",MA,1988,0,1235,0.001021,1.260888,0.0
29,1002,44140,"Springfield, MA",MA,1988,0,1235,0.001021,1.260888,0.0
2320,1003,44140,"Springfield, MA",MA,1988,0,1235,0.001021,1.260888,0.0
2668,1005,49340,"Worcester, MA-CT",CT,1988,0,104,0.000428,0.044531,0.0
58,1007,44140,"Springfield, MA",MA,1988,0,1235,0.001021,1.260888,0.0

##### Reindex MSA data by zipcode and year

In [12]:
msa.year.max()

2016

In [10]:
msa = msa.set_index(['zipcode', 'year'])
msa.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 688481 entries, (1001, 1988) to (57031, 1991)
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   CBSA    688481 non-null  int64
 1   MSA     688481 non-null  object
 2   state   688481 non-null  object
 3   growth  688481 non-null  int64
 4   SFR     688481 non-null  int64
 5   EQI     688481 non-null  float64
 6   RECPI   688481 non-null  float64
 7   REAI    595961 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 44.2+ MB

### Join DataFrames

In [5]:
df = df.join(msa, on=['zipcode', 'year'], lsuffix='_zip', rsuffix='_MSA', how='outer')
df.info()

ValueError: len(left_on) must equal the number of levels in the index of "right"